<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Simple</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <ul id="messages"></ul>
    <form id="form" action="">
        <input id="message_input" autocomplete="off" /><button>Send</button>
    </form>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
</body>
</html>

