<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='question_toeic.css') }}">
    <title>Welcome {{user_name}}</title>
</head>

<body>
    <div class="test_question">
        <h1> This is test toeic for {{user_name}}</h1>
        <div id="title-test-toeic"></div>
        <div class="test-toeic"></div>
        <button onclick="UpdateResult('FAILED')">CLick Fail</button>
        <button onclick="UpdateResult('PASS')">CLick PASS</button>
        <button onclick="UpdateResult('UNTESTED')">CLick to CLear</button>
    </div>
    <script>
        var user_name = {{ user_name| tojson }};
        var set_question_id = {{ set_question_id| tojson}}
        var list_questions = {{ list_questions| tojson }};
    </script>
    <script src="{{ url_for('static', filename='test_question_toeic.js') }}"></script>
</body>

</html>