.main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #1ed0f0, #feb47b);
    align-items: center;
    justify-content: center;
    margin: 0;
}

body {
    background: #000
}