#container-text-three-js{
    width: 100%;
    height: 100%;
}

header{
    padding: 10px;
    background-color: antiquewhite;
}

footer{
    padding: 10px;
    background-color: rgb(231, 144, 31);
}

.header p#text, .footer p#text {
    text-align: center;
}