<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='templates/touchscreen.css') }}">
  <title>Document</title>
</head>
<body>
  <div>
    <div id="fullscreen" class="fullscreen">
      <div id="test-grid"></div>
      <canvas id="test-canvas"></canvas>
    </div>
  </div>
  <script src="{{ url_for('static', filename='templates/touchscreen.js') }}"></script>
</body>
</html>