{% extends "base.html" %}
{% block title %}HOME{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<link rel="manifest" href="/static/manifest.json">
<script src="https://unpkg.com/three@0.138.3/examples/js/controls/OrbitControls.js"></script>
<link rel="icon" href="/static/images/icon.png" type="image/x-icon" />
{% endblock %}
{% block header%}
{% include "header.html" %}
{% endblock %}
{% block body %}
<div id="container-text-three-js"></div>
<script>
    var userName = "{{text | default('HOME') }}";
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/static/service-worker.js')
            .then(registration => {
                console.log('Service Worker registered with scope:', registration.scope);
            })
            .catch(error => {
                console.error('Service Worker registration failed:', error);
            });
    }
</script>
<!-- <script src="{{ url_for('static', filename='text_three.js') }}"></script> -->
{% endblock %}
{% block footer%}
{% include "footer.html" %}
{% endblock %}